<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<img src="<%= picture %>" alt="" heigh="50"/>
<h4>Несколько слов о наших часах: <%=desc%></h4>
</body>
</html>
